<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Hotspot Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>
<body>
    <h1>Upload Your Crime Data File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="*" required>
        <button type="submit">Upload</button>
    </form>
    <button id="scrollToTop">↑</button>
</body>
</html>